.markdown-body .tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  color: #fff;
  border-radius: 4px;
}
.markdown-body .tag.ripple {
  background-color: #1890ff;
}
.markdown-body .tag.shake {
  background-color: #fa541c;
}
.markdown-body .tag.sound {
  background-color: #9ad20f;
}

.imgblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imgblock .sm {
  flex: 0 0 360px;
}
.imgblock .lg {
  flex: 0 0 100%;
}
.imgblock .img {
  width: 100%;
  border: 1px solid #ddd;
}
.imgblock img {
  cursor: pointer;
}
.imgblock .mult-text {
  text-align: justify;
  /* text-align-last: justify; */
}
.project-imgblock {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.project-imgblock:first-child {
  margin-right: 32px;
}

.tip-block {
}
.tip-block .bar {
  width: 100%;
  height: 16px;
  box-sizing: content-box;
  margin: 10px 0;
}
.tip-block .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.tip-block .desc {
  font-size: 14px;
  color: rgba(0, 0, 0, .65);
}
.tip-block.success .bar {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.tip-block.success .title {
  color: #2e7b32;
}
.tip-block.error .bar {
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
}
.tip-block.error .title {
  color: #d32f2f;
}